{% extends 'sidemenu.html' %}

{% block content %}
    <main class="w-full max-w-3xl mx-auto p-6">
        <form method="post">
            {% csrf_token %}
            <div class="p-4 sm:p-7 bg-background rounded-xl">
                <div class="text-left flex justify-between">
                    <div class="font-bold text-2xl">
                        <div class="flex align-center gap-3 mb-4">
                            {{ form.name }}
                            {% if task %}
                                <span class="text-gray-500 mt-1.5">#{{ task.id }}</span>
                            {% endif %}
                        </div>
                        {{ form.status }}
                    </div>
                    <div class="flex gap-2 h-10">
                        {% component "Button" label="Save" submit=True %}{% endcomponent %}
                    </div>
                </div>
                <div class="mt-5 flex gap-4">
                    <div class="bg-white rounded-xl p-3 text-gray-800 max-w-md w-full">
                        {{ form.description }}
                    </div>
                    <div class="flex flex-col gap-4">
                        <div>
                            <h5 class="font-bold text-gray-800 mb-2">Project</h5>
                            <span class="text-sm text-gray-700">
                                {% if project %}
                                    {{ project.name }}
                                {% endif %}
                                {{ task.project.name }}
                            </span>
                        </div>
                        <div>
                            <h5 class="font-bold text-gray-800 mb-2">Assignee</h5>
                            {{ form.assignee }}
                        </div>
                        <div>
                            <h5 class="font-bold text-gray-800 mb-2">Priority</h5>
                            {{ form.priority }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden">
                {{ form.project }}
            </div>
        </form>
    </main>
{% endblock %}