{% include 'index.html' %}
    <div id="content">
        <h2>My Projects</h2>
        <ul>kokt
{#            {% for project in projects %}#}
{#                <li>#}
{#                    <a href="{% url 'project_detail' project.id %}">{{ project.name }}</a>#}
{#                    <p>{{ project.description }}</p>#}
{#                    <p>Created on: {{ project.creation_date }}</p>#}
{#                    <!-- Další informace o projektu -->#}
{#                </li>#}
{#            {% endfor %}#}
        </ul>
    </div>
</body>
</html>