<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>TaskVerse</title>
    <style>
        #menu {
            width: 200px;
            height: 100vh;
            background-color: #f0f0f0;
            float: left;
        }

        #content {
            margin-left: 220px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div id="menu">
        <h1>TaskVerse</h1>
        <div>
            <img src="user_id">
            <div>
                <h4>{{ request.user.username }}</h4>
                <p>{{ request.user.email }}</p>
            </div>
        </div>
        <ul>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
        <button>Log out</button>
    </div>
{% block content %}
{% endblock %}
</body>
</html>